<div id="banner">

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-6">
                <div class="content-title main-title">
                    <h6 class="text-filter-dark">TIME IS ALMOST UP</h6>
                    <h2 class="my-3 text-filter-dark">Designer Clocks on sale</h2>
                    <a href="#!shop" class="btn btn-info">Start Shopping</a>
                </div>
            </div>
            <div class="col-md-6 col-6 ">

                <div id="slide-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#slide-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#slide-carousel" data-slide-to="1"></li>
                        <li data-target="#slide-carousel" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item  svg-one active">
                            <img class="d-block w-100" src="https://d19m59y37dris4.cloudfront.net/varkala/1-2-1/img/product/chair2-transparent.png" alt="First slide">

                        </div>
                        <div class="carousel-item svg-two">
                            <img class="d-block w-100" src="https://d19m59y37dris4.cloudfront.net/varkala/1-2-1/img/product/box-transparent.png" alt="Second slide">
                        </div>
                        <div class="carousel-item svg-three">
                            <img class="d-block w-100" src="https://d19m59y37dris4.cloudfront.net/varkala/1-2-1/img/product/clock-transparent.png" alt="Third slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#slide-carousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#slide-carousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

            </div>
        </div>
    </div>

</div>
<!-- end banner -->
<div class="container ads clearfix">
    <div class="row">
        <div class="col-md-7 col-6 mb-2">
            <div class="banner-ads" style="background-color:#c3e3e0;">
                <div class="banner-text text-center">
                    <p>Wood && Metal</p>
                    <h3 class="fw-bold">Chairs</h3>
                </div>
                <div class="banner-img">
                    <img src="https://d19m59y37dris4.cloudfront.net/varkala/1-2-1/img/product/category-chair2.jpg" alt="" class="img-fluid">
                </div>

            </div>
        </div>
        <div class="col-md-5 col-6 mb-2">
            <div class="banner-ads" style="background-color:#f8f0cc;">
                <div class="banner-text text-center">
                    <p>the liter things</p>
                    <h3 class="fw-bold">Accessories</h3>
                </div>
                <div class="banner-img">
                    <img src="https://d19m59y37dris4.cloudfront.net/varkala/1-2-1/img/product/category-boxes.jpg" alt="" class="img-fluid">
                </div>
            </div>
        </div>

    </div>
    <div class="row ">
        <div class="col-md-5 col-6 mb-2">
            <div class="banner-ads" style="background-color:#ffd4d2;">
                <div class="banner-text text-center">
                    <p>Something about books</p>
                    <h3 class="fw-bold">Books</h3>
                </div>
                <div class="banner-img">
                    <img src="https://d19m59y37dris4.cloudfront.net/varkala/1-2-1/img/product/category-books.jpg" alt="" class="img-fluid">
                </div>

            </div>
        </div>
        <div class="col-md-7 col-6 mb-2">
            <div class="banner-ads" style="background-color:#cddeff;">
                <div class="banner-text text-center">
                    <p>tik tak</p>
                    <h3 class="fw-bold">clocks</h3>
                </div>
                <div class="banner-img">
                    <img src="https://d19m59y37dris4.cloudfront.net/varkala/1-2-1/img/product/category-clocks.jpg" alt="" class="img-fluid" style="min-width: 200px;">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end ads product -->
<div class="start-shop">
    <div class="container">
        <div class="row py-5">
            <div class="col-md-6 col-6">
                <h4 class="fw-bold text-shop">WIDEST CHOICE</h4>
                <h2 class="fw-bold text-filter-dark">Light and Sales</h2>
                <p class="fw-italic text-filter-dark">Our Bigger Products sales this year 30%</p>
                <a href="" class="btn btn-outline-info  ">Start shopping</a>
            </div>
            <div class="col-md-6 col-6 svg-blog">
                <img class="" style="right: 5%;top: 0; max-width:300px; height:auto; z-index: 5;" src="https://d19m59y37dris4.cloudfront.net/varkala/1-2-1/img/product/lamps-transparent.png" alt="">

            </div>
        </div>
    </div>
</div>
<!-- end start shopping -->
<!--========== All product =============== -->
<div class="all-products">
    <!-- ==== modal product -->

    <!-- Modal -->
    <div class="modal fade " id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">

                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-6 thumb-demo">
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="thumb-1" role="tabpanel" aria-labelledby="pills-home-tab">
                                    <img src="https://d19m59y37dris4.cloudfront.net/varkala/1-2-1/img/product/detail-2-gray.jpg" alt="" style="width:500px">
                                </div>
                                <div class="tab-pane fade" id="thumb-2" role="tabpanel" aria-labelledby="pills-profile-tab">
                                    <img src="https://d19m59y37dris4.cloudfront.net/varkala/1-2-1/img/product/detail-1-gray.jpg" alt="" style="width:500px">
                                </div>
                                <div class="tab-pane fade" id="thumb-3" role="tabpanel" aria-labelledby="pills-contact-tab">
                                    <img src="https://d19m59y37dris4.cloudfront.net/varkala/1-2-1/img/product/detail-3-gray.jpg" alt="" style="width:500px">
                                </div>
                                <div class="tab-pane fade" id="thumb-4" role="tabpanel" aria-labelledby="pills-contact-tab">
                                    <img src="https://d19m59y37dris4.cloudfront.net/varkala/1-2-1/img/product/detail-5-gray.jpg" alt="" style="width:500px">
                                </div>
                            </div>
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="p-2 active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#thumb-1" type="button" role="tab">
                                        <img src="https://d19m59y37dris4.cloudfront.net/varkala/1-2-1/img/product/detail-2-gray.jpg" alt="" style="width:80px">
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="p-2" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#thumb-2" type="button" role="tab">
                                        <img src="https://d19m59y37dris4.cloudfront.net/varkala/1-2-1/img/product/detail-1-gray.jpg" alt="" style="width:80px">
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="p-2" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#thumb-3" type="button" role="tab">
                                        <img src="https://d19m59y37dris4.cloudfront.net/varkala/1-2-1/img/product/detail-3-gray.jpg" alt="" style="width:80px">
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="p-2" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#thumb-4" type="button" role="tab">
                                        <img src="https://d19m59y37dris4.cloudfront.net/varkala/1-2-1/img/product/detail-5-gray.jpg" alt="" style="width:80px">
                                    </a>
                                </li>
                            </ul>

                        </div>
                        <div class="col-6 info-thumb">
                            <h2 class="my-3">Push-up jeans</h2>
                            <div class="price my-3">
                                <span class="fw-bold">$ 40.00</span><del class="mx-3">$60.00</del>
                                <span class="float-end" style="color: rgb(223, 223, 0);"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></span>
                            </div>
                            <p class="my-3">Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame.</p>
                            <label for="" class="fw-bold my-3">Sizes</label>
                            <select class="form-select w-50" aria-label="">
                                        <!-- <option selected>Open this select menu</option> -->
                                        <option value="1">small</option>
                                        <option value="2">Medium</option>
                                        <option value="3">Large</option>
                                      </select>
                            <label for="" class="fw-bold my-3">Types</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                          HOODIE
                                        </label>
                            </div>
                            <div class="form-check my-3">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                                <label class="form-check-label" for="flexRadioDefault2">
                                          COLLECTION
                                        </label>
                            </div>
                            <div class="border my-3">
                                <input type="number" class="w-25 form-control float-lg-start" min="0" placeholder="1">
                                <a href="#!cart" class="btn btn-secondary w-75"><i class="fas fa-shopping-cart"></i>Add to Cart</a>
                            </div>
                            <div class="my-3">
                                <a href="" class=""><i class="far fa-heart"></i>Add to wish</a><span class="float-end"><i class="fab fa-facebook-f"></i><i class="fab fa-twitter ml-3"></i></span>
                            </div>
                            <p class="fw-bold">Category: Jeans</p>
                            <p class="fw-bold">Tags: USK</p>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- end modal product -->

    <div class="container">
        <div class="row mt-5">
            <div class="col-md-12">
                <h2 class="fw-bold text-pink">New Arrivals</h2>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="" role="presentation">
                        <a href="" class="mr-3 fw-bold text-black-50 active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" role="tab" aria-controls="home" aria-selected="true">All product</a>
                    </li>
                    <li class="" role="presentation">
                        <a href="" class="mr-3 fw-bold text-black-50" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" role="tab" aria-controls="profile" aria-selected="false">Chairs</a>
                    </li>
                    <li class="" role="presentation">
                        <a href="" class="mr-3 fw-bold text-black-50" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" role="tab" aria-controls="contact" aria-selected="false">Books</a>
                    </li>
                    <li class="" role="presentation">
                        <a href="" class="mr-3 fw-bold text-black-50" id="clothes-tab" data-bs-toggle="tab" data-bs-target="#contact" role="tab" aria-controls="clothes" aria-selected="false">Clothes</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="list-product my-4 row">
                            <div class="col-md-3 col-6 my-3 thumb" ng-repeat="item in book">
                                <div class="card text-decoration-none">
                                    <img src="{{item.img}}" class="card-img-top" alt="...">
                                    <div class="add-to-cart ">
                                        <p class="fw-bold text-black-50 p-2">Add to cart
                                            <span class="float-end ml-3"><i class="far fa-heart pr-2"></i></span>
                                            <span class="float-right" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="far fa-caret-square-right"></i></span>
                                        </p>
                                    </div>
                                    <a href="#!shop" class="card-body text-decoration-none">
                                        <h5 class="card-title fw-bold text-black-50">{{item.title}}</h5>
                                        <p class="card-text text-secondary fw-bold">{{item.price | currency}}
                                            <span class="ml-5 d-none float-end"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></span>
                                        </p>
                                    </a>

                                </div>
                            </div>
                            <!-- end card -->

                        </div>
                    </div>
                    <!-- end tag  -->
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="row">
                            <div class="col-md-3 col-6 my-3">
                                <div class="card">
                                    <img src="https://d19m59y37dris4.cloudfront.net/varkala/1-2-1/img/product/box2-sq.jpg" class="img-fluid" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title fw-bold">Norwegg Chair</h5>
                                        <p class="card-text text-secondary">$ 40.00</p>
                                    </div>
                                </div>
                            </div>
                            <!-- end card -->

                        </div>
                    </div>
                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
                </div>

                <!-- end card columns -->
            </div>
        </div>
    </div>
</div>
<!-- end list product-->
<div class="summer-sale">
    <div class="container">
        <div class="row">
            <img class="img-fluid z-index-10 move-sale" src="https://d19m59y37dris4.cloudfront.net/varkala/1-2-1/img/product/chair-transparent-shadow.png" alt="">
        </div>
        <div class="row">
            <div class="col-md-12 text-center pb-5">
                <h1 class="fw-bold text-title">#Summer #Sales</h1>
                <p class="fw-italic text-decs">Our Bigger sales this year - up to 60%</p>
                <a href="" class="btn btn-outline-primary">start shopping</a>
            </div>
        </div>
    </div>
</div>