<!--========== All product =============== -->
<div class="all-products">
    <!-- ==== modal product -->


    <!-- Modal -->
    <div class="modal fade " id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">

                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-6 thumb-demo">
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="thumb-1" role="tabpanel" aria-labelledby="pills-home-tab">
                                    <img src="https://d19m59y37dris4.cloudfront.net/varkala/1-2-1/img/product/detail-2-gray.jpg" alt="" style="width:500px">
                                </div>
                                <div class="tab-pane fade" id="thumb-2" role="tabpanel" aria-labelledby="pills-profile-tab">
                                    <img src="https://d19m59y37dris4.cloudfront.net/varkala/1-2-1/img/product/detail-1-gray.jpg" alt="" style="width:500px">
                                </div>
                                <div class="tab-pane fade" id="thumb-3" role="tabpanel" aria-labelledby="pills-contact-tab">
                                    <img src="https://d19m59y37dris4.cloudfront.net/varkala/1-2-1/img/product/detail-3-gray.jpg" alt="" style="width:500px">
                                </div>
                                <div class="tab-pane fade" id="thumb-4" role="tabpanel" aria-labelledby="pills-contact-tab">
                                    <img src="https://d19m59y37dris4.cloudfront.net/varkala/1-2-1/img/product/detail-5-gray.jpg" alt="" style="width:500px">
                                </div>
                            </div>
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="p-2 active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#thumb-1" type="button" role="tab">
                                        <img src="https://d19m59y37dris4.cloudfront.net/varkala/1-2-1/img/product/detail-2-gray.jpg" alt="" style="width:80px">
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="p-2" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#thumb-2" type="button" role="tab">
                                        <img src="https://d19m59y37dris4.cloudfront.net/varkala/1-2-1/img/product/detail-1-gray.jpg" alt="" style="width:80px">
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="p-2" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#thumb-3" type="button" role="tab">
                                        <img src="https://d19m59y37dris4.cloudfront.net/varkala/1-2-1/img/product/detail-3-gray.jpg" alt="" style="width:80px">
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="p-2" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#thumb-4" type="button" role="tab">
                                        <img src="https://d19m59y37dris4.cloudfront.net/varkala/1-2-1/img/product/detail-5-gray.jpg" alt="" style="width:80px">
                                    </a>
                                </li>
                            </ul>

                        </div>
                        <div class="col-6 info-thumb">
                            <h2 class="my-3">Push-up jeans</h2>
                            <div class="price my-3">
                                <span class="fw-bold">$ 40.00</span><del class="mx-3">$60.00</del>
                                <span class="float-end text-warning"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></span>
                            </div>
                            <p class="my-3">Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame.</p>
                            <label for="" class="fw-bold my-3">Sizes</label>
                            <select class="form-select w-50" aria-label="">
                                        <option value="1">small</option>
                                        <option value="2">Medium</option>
                                        <option value="3">Large</option>
                                      </select>
                            <label for="" class="fw-bold my-3">Types</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                          HOODIE
                                        </label>
                            </div>
                            <div class="form-check my-3">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                                <label class="form-check-label" for="flexRadioDefault2">
                                          COLLECTION
                                        </label>
                            </div>
                            <div class="border my-3">
                                <input type="number" class="w-25 form-control float-lg-start" min="0" placeholder="1">
                                <a href="#!cart" class="btn btn-secondary w-75"><i class="fas fa-shopping-cart"></i>Add to Cart</a>
                            </div>
                            <div class="my-3">
                                <a href="" class=""><i class="far fa-heart"></i>Add to wish</a><span class="float-end"><i class="fab fa-facebook-f"></i><i class="fab fa-twitter ml-3"></i></span>
                            </div>
                            <p class="fw-bold">Category: Jeans</p>
                            <p class="fw-bold">Tags: USK</p>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- end modal product -->

    <div class="container">
        <div class="row mt-5">
            <div class="col-md-12">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>WELCOME</strong> to our shopping page
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <h2 class="fw-bold text-pink">New Arrivals</h2>
                <div class="row">
                    <div class="col-md-2 finding">
                        <p class="fw-bold"><i class="fas fa-filter"></i> BỘ LỌC TÌM KIẾM</p>
                        <p class="border-bottom text-dark">Theo Danh Mục</p>
                        <div class="category my-4 border-bottom">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="up" ng-click="orderPrice('price')">
                                <label class="form-check-label" for="up">
                                  Giá Tăng Dần
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="down" ng-click="orderPrice('-price')">
                                <label class="form-check-label" for="down">
                                  Giá Giảm Dần
                                </label>
                            </div>

                        </div>
                        <p class="fw-bold">Nơi Bán</p>
                        <div class="place my-4 border-bottom">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                  HỒ CHÍ MINH
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                  HÀ NỘI
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                  ĐÀ NẴNG
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                  BÌNH DƯƠNG
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                  HUẾ
                                </label>
                            </div>
                        </div>
                        <p class="fw-bold">Đánh Giá</p>
                        <div class="ranting my-4 border-bottom">
                            <p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i> Trở lên</p>
                            <p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i> Trở lên</p>
                            <p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i> Trở lên</p>
                            <p><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
                            <p><i class="fas fa-star"></i></p>
                        </div>
                        <!--========== end filter======= -->



                    </div>
                    <div class="col-md-10">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="" role="presentation">
                                <a href="" class="mr-3 fw-bold text-black-50 active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" role="tab" aria-controls="home" aria-selected="true">All product</a>
                            </li>
                            <li class="" role="presentation">
                                <a href="" class="mr-3 fw-bold text-black-50" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" role="tab" aria-controls="profile" aria-selected="false">Chairs</a>
                            </li>
                            <li class="" role="presentation">
                                <a href="" class="mr-3 fw-bold text-black-50" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" role="tab" aria-controls="contact" aria-selected="false">Books</a>
                            </li>
                            <li class="" role="presentation">
                                <a href="" class="mr-3 fw-bold text-black-50" id="clothes-tab" data-bs-toggle="tab" data-bs-target="#contact" role="tab" aria-controls="clothes" aria-selected="false">Clothes</a>
                            </li>
                        </ul>
                        <p class="mt-3 fw-italic" ng-click="">Kết quả tìm kiếm cho từ khóa : <span class="text-danger fw-bold">{{title}}</span></p>
                        <div class="row">
                            <div class="col-6">
                                <form class="d-lg-flex">
                                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" ng-model="title" ng-model-options="{updateOn:'blur'}">
                                    <a href="#!shop" class="btn btn-outline-success" type="submit"><i class="fas fa-search"></i></a>
                                </form>

                            </div>

                            <div class="col-6">
                                <!-- <label for="">Muc Gia</label> -->

                                <select class="form-select w-25" ng-options="y for (x,y) in optionPrice" ng-model="prop" ng-model-options="{updateOn:'blur'}">
                                      </select>

                            </div>



                        </div>


                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="list-product my-4 row">
                                    <div class="col-md-3 col-6 my-3 thumb" ng-repeat="item in listProducts |filter : title | orderBy:orderByPrice">
                                        <div class="card text-decoration-none">
                                            <img src="{{item.img}}" class="card-img-top" alt="...">
                                            <div class="add-to-cart mb-3">
                                                <a class="fw-bold text-black-50 pl-3 currency" data-bs-toggle="modal" data-bs-target="#add-cart" ng-click="search()">Add to cart
                                                    <span class="float-end ml-3"><i class="far fa-heart pr-2"></i></span>
                                                    <span class="float-right" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="far fa-caret-square-right"></i></span>
                                                </a>
                                            </div>
                                            <a href="" class="card-body text-decoration-none">
                                                <h5 class="card-title fw-bold text-black-50">{{item.title}}</h5>
                                                <p class="card-text text-secondary fw-bold">{{item.price | currency}}
                                                    <span class="d-none float-end"><i class="fas fa-star "></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></span>
                                                </p>
                                            </a>

                                        </div>
                                    </div>
                                    <!-- end card -->

                                    <!-- modal thong bao them san pham thanh cong -->
                                    <div class="modal fade" id="add-cart" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-sm ">
                                            <div class="modal-content ">
                                                <div class="modal-header bg-success">
                                                    <h5 class="modal-title text-light">Add product success</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <p class="">chuyển qua giỏ hàng xem sản phẩm</p>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <!-- end thong bao -->


                                </div>
                            </div>
                            <!-- end tag  -->
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="row">
                                    <div class="col-md-3 col-6 my-3">
                                        <div class="card">
                                            <img src="https://d19m59y37dris4.cloudfront.net/varkala/1-2-1/img/product/box2-sq.jpg" class="img-fluid" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title fw-bold">Norwegg Chair</h5>
                                                <p class="card-text text-secondary">$ 40.00</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end card -->

                                </div>
                            </div>
                            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
                        </div>

                        <!-- end card columns -->
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>